
input 
{  
  display: inline-block;   
  background: #f1f1f1;  
}  
.myDiv2
{
  width: 900px;
  margin:0px auto 0px auto;
}
.rs1
{
  width: 600px;
  margin:100px auto 0px auto;
}
.myDiv 
{
  background-color: mistyrose ;
  width: 90%;
  font-size: 18px;
  border-radius: 10px;
  border:1px solid maroon;
  box-shadow: 2px 2px 2px;
  color: maroon;
  height: 300;

}
.myDiv4 
{
background-color: mistyrose ;
width: 90%;
font-size: 18px;
border-radius: 10px;
border:1px solid maroon;
box-shadow: 2px 2px 2px;
color: maroon;
height: 400;
margin-top: 10px;

}
.myDiv3 
{
  background-color: mistyrose ;
  width: 100%;
  font-size: 18px;
  border-radius: 10px;
  border:1px solid maroon;
  box-shadow: 2px 2px 2px;
  color: maroon;
  height: 710;
  margin-left: 5px;
}
.header
{
  color: white;
  background-color:maroon;
  font-family: Arial;
  font-size: 150%;
}

@media(max-width:998px){
  html{
  font-size: 55%;
}
}
@media(max-width:768px){
html{
  font-size:45%;
}
}

table{color:white;
  padding:1px;
  
  border-color: purple;

}
h1
{
    color:white;
    font-family:arial;
    font-size: 300%;
    background-color: maroon;
    padding: auto;
    border-radius: 10px;
}
h2
{
    color:maroon;
    font-family:arial;
    font-size: 80%;
    background-color: white;
    padding-left:10px;
}
#myHeader {
  background-color:#933032;
  border-radius: 20px;
  color:maroon;
  padding: 20px;
  text-align: center;
}
p{
  color:black;
  font-family: Arial, Helvetica, sans-serif;
  font-size:110%;
  
  text-align: center;

}
.hospital {
  background-color:#933032;
  color: white;
  width: 75%;
  
}
.top{
  width:100%;
  background-color:#2FA5EB !important;
  border-bottom:2px solid #f0f0f0;
}
.top div{
  width:120rpm;
  color:#fff;
  background-color:#2FA5EB !important;
  font-family:calibri;
  padding:10px;
  text-align:right;
}
table1
{
  color:navy;
  padding:10px;
  size: 250px;
  border:100px;
  border-color: purple;
  text-align: center;
}

td{
  text-align: center;
  font-size:90%;
  font-family: forte;
}
hr {
  position: relative;
  top: 20px;
  border: none;
  height: 5px;
  background: black;
  margin-bottom: 50px;
}
.dropbtn {
  background-color: mistyrose;
  color: rgb(0, 0, 0);
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: aquamarine;
  min-width: 160px;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color:hsl(325, 81%, 43%);}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: hsl(325, 81%, 43%);min-width: 10px;}

.rs1
{
  box-shadow: 2px 2px 2px;
  border: 1px solid maroon;
  color: maroon;
  border: 1px solid;
  width: 400px;
  margin: 100px auto 0px auto;
  background-color: mistyrose;
  border-radius: 10px;
}

.view{
	width:100%;
	background-color:#933032;
	border-bottom:2px solid #f0f0f0;
  color:maroon;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.view div{
	width:100%;
	padding:10px;
	text-align:center;
}
.view div table a{
	padding:10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color:royalblue;
  text-decoration: none;
  
}
.view div table a:hover{
	color:white;
	border-bottom:3px solid white;
  border-top: 3px solid white;
  border-left: 3px solid white;
  border-right: 3px solid white;
}
.footer{
  width: 100%;
  color:#fff;
  background-color:black;
  opacity: 0.8;
  padding:10px;
  text-align:center;
  height: 600px;
  font-family: "Roboto", sans-serif;
  border-top: solid 5px rgb(167, 107, 100);
}


.footer a
{
  color: white;
  text-decoration: none;
}

ul
{
  list-style: none;
  padding: 0px;
  margin-left: 80px;
  line-height: 1.7;
  
}
